@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --bg-light: #e3fdfd;

  --font-color: #1f2933;
  --font-light: #000000;
}

body.dark-theme {
  --bg-color: #111216;
  --bg-light: #24252c;

  --font-color: #9999b3;
  --font-light: #fff;
}

html,
body {
  overflow-x: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1.2s linear infinite;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.menu-open {
  animation: slidein 0.5s ease-in-out;
}
